.tooltip{
    position: relative;
    display: inline-block;
    color: #ff6565;
    border-block-end: 1px dotted #ff6565;
    cursor: help;
  }
  .tip{
    visibility: hidden;
    inline-size: 150px;
    background-color: #ff6565;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 5px 0;
    position: absolute;
    inset-block-end: 120%;
    inset-inline-start: 50%;
    margin-inline-start: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .tip.active{
    visibility: visible;
    opacity: 1;
  }
  .tip::after{
    content: "";
    position: absolute;
    inset-block-start: 100%;
    inset-inline-start: 50%;
    margin-inline-start: -4px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent;
    border-block-start-color: #ff6565;
  }

  .dropdown .trigger{
    border-block-end: 1px solid #ddd;
    padding: 10px;
    position: relative;
    cursor: pointer;
  }
  .dropdown .trigger::after{
    content: ">";
    display: inline-block;
    position: absolute;
    inset-inline-end: 15px;
    transform: rotate(90deg) scale(0.5, 1);
    font-weight: bold;
    transition: transform 0.3s;
  }
  .dropdown .trigger.active::after{
    transform: rotate(-90deg) scale(0.5, 1);
  }
  .dropdown .content{
    display: none;
  }
  .dropdown .content.active{
    display: block;
  }

  .tabs > ul{
    padding: 0;
  }
  .tabs .trigger{
    list-style-type: none;
    padding: 10px;
    background: #f2f2f2;
    margin: 4px;
    border-radius: 6px;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
  }
  .tabs .trigger.active{
    background: #ff6565;
    color: white;
  }
  .tabs .content{
    background: #fbfbfb;
    padding: 10px 20px;
    border-radius: 6px;
    display: none;
  }
  .tabs .content.active{
    display: block;
  }
  .snackbar{
    inline-size: 200px;
    padding: 20px;
    position: fixed;
    inset-inline-start: 50%;
    margin-inline-start: -120px;
    inset-block-start: 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
    background: #ff6565;
    text-align: center;
    color: #fff;
    margin-block-start: -100%;
    transition: all 0.2s;
  }
  .snackbar.active{
    margin-block-start: 0;
  }
  